{% extends "base.html" %}

{% block title %}Page Not Found :({% endblock %}

{% block body-class %}error 404{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Page Not Found</h1>
            <div class="row center">
                <h5 class="header col s12 white-text">Give me a blank space and I'll write your name...</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax">
        <img src="http://images4.mtv.com/uri/mgid:file:docroot:mtv.com:/shared/promoimages/bands/s/swift_taylor/a_z/2014/press/taylor_swift_2012press1.jpg?enlarge=false&matte=true&matteColor=black&quality=0.85" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 200px, 0px);">
    </div>
</div>
{% endblock %}
