{% extends "base.html" %}

{% block title %}Server Error :({% endblock %}

{% block body-class %}error 500{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Server Error</h1>
            <div class="row center">
                <h5 class="header col s12 white-text">I knew you were trouble when you walked in...</h5>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax">
        <img src="http://images1.mtv.com/uri/mgid:file:docroot:mtv.com:/shared/promoimages/bands/s/swift_taylor/a_z/2014/getty/taylor_swift_getty13.jpg?enlarge=false&maxdimension=1300&matte=true&matteColor=black&quality=0.85" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 200px, 0px);">
    </div>
</div>
{% endblock %}
