<!DOCTYPE html>{% load staticfiles %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Taylor Swift Lyric Generator{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}Generate your own song in the style of Taylor Swift.{% endblock %}">
    <meta name="author" content="{% block meta-author %}Caktus Group{% endblock %}">
    {% block extra-meta %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"  media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{% static 'css/taytay.css' %}"  media="screen,projection">
    {% block extra-css %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body id="{% block body-id %}body{% endblock %}" class="{% block body-class %}body{% endblock %}">
    {% block content %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    {% block extra-js %}
    {% endblock %}
</body>
</html>
