<!DOCTYPE html>{% load staticfiles %}
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Taylor Swift Lyric Generator{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}Generate your own song in the style of Taylor Swift.{% endblock %}">
    <meta name="author" content="{% block meta-author %}Caktus Group{% endblock %}">
    {% block twitter-card %}
    <meta name="twitter:card" content="{% block card-type %}summary{% endblock %}" />
    <meta name="twitter:site" content="@CaktusGroup" />
    <meta name="twitter:title" content="{% block card-title %}Taylor Swift Lyric Generator{% endblock %}" />
    <meta name="twitter:description" content="{% block card-description %}Generate your own song in the style of Taylor Swift.{% endblock %}" />
    {% endblock %}
    {% block extra-meta %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css"  media="screen,projection">
    <link type="text/css" rel="stylesheet" href="{% static 'css/taytay.css' %}"  media="screen,projection">
    {% block extra-css %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body id="{% block body-id %}body{% endblock %}" class="{% block body-class %}body{% endblock %}">
    <div class="main">
        {% block nav-wrapper %}
            <nav class="teal lighten-2">
                <div class="nav-wrapper container">
                    <a href="{% url 'home' %}" class="brand-logo"><span class="taylor">Taylor Swift</span> Song Generator</a>
                </div>
            </nav>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About This Project</h5>
                    <p class="grey-text text-lighten-4">
                    This is a Ship It Day project from a small team at <a class="brown-text text-darken-2" href="https://caktusgroup.com/">
    Caktus Group</a> to experiment with natural language processing. This is built with Python and
    Django. You can find the <a class="brown-text text-darken-2" href="http://github.com/caktus/taytay/">source code on Github</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-darken-3" href="https://caktusgroup.com">Caktus Group</a> &copy; {% now 'Y' %}
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="{% static 'js/taytay.js' %}"></script>
    {% block extra-js %}
    {% endblock %}
</body>
</html>
