{% extends "base.html" %}

{% block body-id %}homepage{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Taylor Swift Song Generator</h1>
            <div class="row center">
                <h5 class="header col s12 white-text">Create your songs in the style of Taylor Swift</h5>
            </div>
            <div class="row center">
                <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Create a Song</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax">
        <img src="http://images1.mtv.com/uri/mgid:file:docroot:mtv.com:/shared/promoimages/bands/s/swift_taylor/a_z/2014/press/taylor_swift.jpg?enlarge=false&maxdimension=1300&matte=true&matteColor=black&quality=0.85" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 200px, 0px);">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l8 offset-l2 center">
                <h4 class="brown-text">How it Works</h4>
                <p class="left-align light">
                    Using song lyric data provided by <a class="teal-text" href="https://baelor.io/">baelor.io</a>
                    we built a model for Taylor's songs. It takes into account words she uses and how she typically uses
                    them.
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About This Project</h5>
                <p class="grey-text text-lighten-4">
                This is a Ship It Day project from a small team at <a class="brown-text text-darken-2" href="https://caktusgroup.com/">
Caktus Group</a> to experiment with natural language processing. This is built with Python and
Django. You can find the <a class="brown-text text-darken-2" href="http://github.com/caktus/taytay/">source code on Github</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-darken-3" href="https://caktusgroup.com">Caktus Group</a> &copy; {% now 'Y' %}
        </div>
    </div>
</footer>

{% endblock %}
