{% extends "base.html" %}

{% block body-id %}homepage{% endblock %}

{% block nav-wrapper %}{% endblock %}

{% block content %}
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center white-text">Taylor Swift Song Generator</h1>
            <div class="row center">
                <h5 class="header col s12 white-text">Create your songs in the style of Taylor Swift</h5>
            </div>
            <div class="row center">
                <a href="{% url 'new-song' %}" id="create-button" class="btn-large waves-effect waves-light teal lighten-1">Create a Song</a>
                <form action="{% url 'new-song' %}" method="get" class="col s12 l8 offset-l2 card-panel white">
                    <div class="input-field col s9">
                        {{ form.title }}
                        {{ form.title.label_tag}}
                    </div>
                    <div class="input-field col s3 right-align">
                        <button class="teal-text btn-flat">Generate</button>
                    </div>
                </form>
            </div>
            <br><br>
        </div>
    </div>

    <div class="parallax">
        <img src="http://images1.mtv.com/uri/mgid:file:docroot:mtv.com:/shared/promoimages/bands/s/swift_taylor/a_z/2014/press/taylor_swift.jpg?enlarge=false&maxdimension=1300&matte=true&matteColor=black&quality=0.85" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 200px, 0px);">
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 l8 offset-l2 center">
                <h4 class="brown-text">How it Works</h4>
                <p class="left-align light">
                    Using song lyric data provided by <a class="teal-text" href="https://baelor.io/">baelor.io</a>
                    we built a model for Taylor's songs. It takes into account words she uses and how she typically uses
                    them.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
