{% extends "base.html" %}

{% block body-id %}song-generator{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card col s12 l8 offset-l2">
            <div class="card-content">
                <h4>{{ title }}</h4>
                {{ song|linebreaks }}
            </div>
            <div class="card-action right-align">
                <form action="" method="post">{% csrf_token %}
                    <button class="teal-text btn-flat">Save Song</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="" method="get" class="col s12 l8 offset-l2">
            <div class="input-field col s6">
                {{ form.album }}
                {{ form.album.label_tag }}
            </div>
            <div class="input-field col s6 right-align">
                <button class="teal-text btn-flat">New Song</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
