body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

#homepage #index-banner {
    height: 700px;
}

#song-generator .card.col {
    margin-top: 3em;
}

.error .parallax-container {
    padding-top: 3em;
    height: 750px;
}

.error .page-footer {
    margin-top: 0;
}
